:root {
  transition: background-color 300ms ease-in-out;
  --ingredients-form-container-width: 500px;
}

/* UTILS */
.is-link {
  @apply bg-primary;
}
.is-link:hover {
  cursor: pointer;
  @apply bg-base-300;
}

.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}
